.nav{
    background-color: #181A1B;
    color: white;
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
.nav h1{
    margin: 0;
    padding-left: 20px;
    font-size: 1.8rem;
}
.nav .links{
    color: white;
    cursor: pointer;
    font-size: .9rem;
}
.links a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.nav a:hover{
    color: #535bf2;
}
.nav #search-icon{
    margin-left: 40px;
    margin-right: 20px;
}
